{% macro default(header, subheader) %}
    <h2 class="mt-5 mb-3 text-center h2">{{ header }}</h2>
    {% if subheader is not empty %}
        <p class="text-muted mb-4">{{ subheader|raw }}</p>
    {% endif %}
{% endmacro %}
