<div class="col mb-3">
    <h2 class="h2 text-light border-bottom pb-3 border-light">
        {{ 'sylius.ui.info'|trans }}
    </h2>
    <ul class="list-unstyled text-light footer-link-list">
        <li><a class="text-decoration-none" href="#">Home</a></li>
        <li><a class="text-decoration-none" href="#">About Us</a></li>
        <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
        <li><a class="text-decoration-none" href="#">FAQs</a></li>
        <li><a class="text-decoration-none" href="#">Contact</a></li>
    </ul>
    <div>
        <i class="fab fa-cc-mastercard fa-4x"></i>
        <i class="fab fa-cc-visa fa-4x"></i>
        <i class="fab fa-cc-paypal fa-4x"></i>
    </div>
</div>
